
.body{
  background-color: #333;
}




.menu ul {
  list-style: none; 
  padding: 0;       
  margin: 0;        
  display: flex;
  
  justify-content: center; 
}



.menu a {
  display: block; 
  padding: 10px 15px; 
  text-decoration: none;
  color: #333;
}

.menu{
    background-color: orange;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.tabla{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  
}
.izquierda{
  background-color: red;
  grid-row-start: 1;
  grid-row-end: 3;
}

.blanco{
  background-color: white;
  grid-row-start: 2;
  grid-row-end: 3;
}

.azul{
  background-color: blue;
}

.verde{
  background-color: green;
  grid-row-start: 1;
  grid-row-end:3
}

.debajo{
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end:3 ;
}