html{
    hyphens: auto;
    text-align: justify;
}

body{
    background-color: hwb(150 25% 30%); 
}
article{
    display: flex;
    flex-direction: row;
    width: 500px;
    margin:10px;
    border:black 3px solid;
    background-color: hwb(150 50% 30%);
}
section{
    
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

h2{
    margin: 0;
    padding:10px;
    border-right: black 1px solid;
}

div{
    margin: 0 10px;
}

