
.body{
  background-color: #333;
}




.menu ul {
  list-style: none; 
  padding: 0;       
  margin: 0;        
  display: flex;
  
  justify-content: center; 
}



.menu a {
  display: block; 
  padding: 10px 15px; 
  text-decoration: none;
  color: #333;
}

.menu{
    background-color: rgb(226, 198, 146);
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 4 / span 4;
    background-color:orange ;
}

.div2 {
    grid-row: span 3 / span 3;
    grid-row-start: 2;
    background-color: red;

}

.div3 {
    grid-row: span 3 / span 3;
    grid-row-start: 2;
    background-color: blue;
    
}

.div4 {
    grid-row: span 3 / span 3;
    grid-row-start: 2;
    background-color: green
    ;
}

.div5 {
    grid-column: span 4 / span 4;
    grid-row-start: 5;
    background-color: yellow;
}

.footer{
    text-align: center;
    background-color: orange;
}
        