.tabla{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:5px;
}

.c1{
    background-color: red;
    grid-row-start: 1;
    grid-row-end: 3;
}

.c2{
    background-color: white;
    grid-row-start:1;
    grid-row-end:2;
}
.c3{
    background-color: aqua;
    grid-row-start:2;
    grid-row-end:3;
    display:flex;
    flex-direction: column;
}

.c4{
    background-color: blueviolet;
    grid-row-start: 1;
    grid-row-end:3;
}

.c5{
    background-color: chocolate;
    grid-column-start: 1;
    grid-column-end: 4;
}
