@import url(fredoka-one.woff);

body {
  background-color: lightseagreen;
  margin: 0;
  padding: 0;
  font-family: 'Fredoka One';
  /*
  border-image-source: url(cuadros.png);
  border-image-slice: bottom;
  border-image-width: 30px;
  */
  background-image: url(cuadros.png), url(cuadros.png);
 background-repeat: repeat-y, repeat-y;   
  background-position: left top, right top; 
            
                   
  
    
  
    

}


h1 {
  font-size: 50px;
  margin-bottom: 0;
  text-shadow: 5px 5px 5px grey;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  font-size: 30px;
  margin-bottom: 0;
  font-style: oblique;
}

.introduccion {
  border-top: 5px solid black;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  overflow: auto; 
}

.introduccion .imagen1 {
  float: right; /
  margin-left: 20px; 
  margin-bottom: 10px;
  border: 5px solid black;
  padding: 10px;
  background-color: white;
  width: 20%; 
  height: auto;
}


.historia {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 20px;
  margin: 50px auto;
  width: 60%;
}

.evento {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 20px auto;
  margin: 20px ;
  font-style: oblique;
  width: 13em;
  height: 250px;
  color: rgb(5, 0, 0);
  border: 2px solid rgb(255, 255, 254);
  float: left;
  line-height: 150%;
  text-align: center;
}

.fecha {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.cro {
  text-align: center;
  clear: both;
}

.cronologia {
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

.grafica {
  clear: both;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 20px;
  margin: 50px auto;
  width: 60%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.grafica h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.grafica p {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
}

.imagen1 {
  display: block;
  margin: 0 auto 20px auto;
  border: 5px solid black;
  padding: 10px;
  background-color: white;
  max-width: 100%;
  height: auto;
}
.final{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}
