ul{
    list-style-type: none;
    background-color: #EDDB88;
    border: #CC9933 3PX solid;
    width: 7.5em;
    padding:0em;
    margin:1.5em;
    margin-top:10px;
}

ul li{
    width: 6em;
    margin:0.5em 0.5em;
    padding:0em;
    text-align: center;
}

a{
    display:block;
    width: 100%;
    background-color: rgb(245, 242, 242);
    border: #CC9933 3px solid;

}
div#menu{
    position:absolute;

}

div#citas{
    position:absolute;
    top:3em;
    bottom:0%;
    left:11em;
    right:0%;
    overflow:hidden;
}

div div{
    width: 100%;
    height: 100%;
    overflow: auto;
}

p{
    float:left;
    font-size: 120%;
    width: 12em;
    height: 10em;
    border:#CC9933;
    overflow: auto;

}