
.contenedor {
  position: relative;
  width: 200px;
  height: 300px;
  border-bottom: 4px solid #2a2a2a;
  display: flex;
  justify-content: center;
}


.bola {
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: radial-gradient( #4a7cff 50%, red 50%);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  animation: rebote 1.2s ease-in-out infinite ;
}

@keyframes rebote{
    0%{
        transform:translateY(-0)
    }
    20%{
        transform:translateY(-20px)
    }
    50%{
        transform:translateY(-50px)

    }
    60%{
        transform:translateY(-95px)
    }

    90%{
        transform: translateY(-120px);
    }

    100%{
        transform: translateY(0);
    }
}