.header{
text-align: center;
background-color: rgba(0, 0, 0, 0.616);
display:flex;
flex-direction: row;

}

.header a{
    color:white;
    margin: 10px;
}

 .cuarto{
 flex-grow: 1;
 background-color: greenyellow;

}

.body{
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    margin:20px
}

