body{
    background: linear-gradient(to right, rgb(148, 177, 231), rgb(201, 132, 233));
}

.card{
   width: 320px;
     background: rgba(255, 255, 255, 0.95);
   border-radius: 20px;
   overflow: hidden;
   transition: all 0.4s ease;
   position:relative;
    
}

.card::before{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform:translateX(-100%)
    
}

.card img{
    width: 100%;
    height: 200px;
}

.info{
    padding:25px;
    position:relative;
    
}