/*
.drop{
display: none;
position: absolute;
background-color: #f00f0f;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

*/

body, ul , li{
  
    font-family: 'Helvetica Neue', Arial, sans-serif;    line-height: 21px;
    text-align: left;
    font-weight: 100;
    margin:0;
}

#menu{
    
    list-style: none;
    width: 940px;
    margin:50px auto 0px auto;
    height: 43px;
    padding:0px 20px 0px 20px;
     align-items: center;
    background: #014464;
    background: -moz-linear-gradient(#0277a7, #011109);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0277a7) to(#019953));
    display:flex;
    justify-content: space-between;
    border:1px solid #002252;
    
}

#menu  li {
    
    
    padding:4 px 10px;
    margin-right: 30px;
    position: relative;
}

#menu li:hover{
    border: 1px solid #777;
   
}

.desplegable2columnas,
.desplegable1columna{
    display:none;
    position: absolute;
    background-color: rgb(150, 146, 146);
    width: 450px;
    
}

#menu li:hover .desplegable2columnas,
#menu li:hover  .desplegable1columna {
  display: block;
}

#MENU li:hover .align_right{
    left:auto;
    right:0;
}

.drop{
    
    color:white;
    text-decoration:none ;
    font-weight: 100;
    
}