.encabezado{
    color:white;
    background-color: rgb(78, 109, 212);
    font-size: larger;
    text-align: center;
    border-bottom: 10px blue solid;
}

body{
    background-color: rgb(189, 187, 187);
}

.menu{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
}

.elemento{
    background-color: aliceblue;
     height: 20px;
     width: 20px;
    color:black;
     border-top: 2px blue solid ;
     border-bottom: 2px blue solid;
     padding: 15px;
     margin: 10px;
     text-decoration: none;
}

.elemento:hover{
    background-color: blue;
}

.intro{
     background-color: blue;
    color:white;
    width: 600px;
    text-align: center;
    margin-left: 500px;
}


.puerta{
    background-color: blue;
    color:white;
}
.plaza{
background-color: blue;
    color:white;
}

.ret{
background-color: blue;
color:white;
}


.seccion-central{
    max-width: 1000px;
    text-align: center;
}



.seccion-target{
    display: none;
    padding: 1em 0;
}
.seccion-target:target{
    display: block;
}



.end{
    background-color: blue;
    color:white;
    text-align: end;
}

.lista{
    list-style-image: url(oso.jpeg);
    
}

.etiqueta{
    color:red;
    text-transform: uppercase;
    
}

.fecha{
    color:gold;
    border-top: 1px red solid;
    border-bottom: 1px red solid;
}



#i1, #i2,#i3,#i4,#i5{
    width: 350px;
    height: 500px;
    
    border:1px blue solid; 
}


